

<h1>Détails de l'auteur</h1>

<h2>{{ author.username }}</h2>
<img src="{{ asset(author.picture) }}" alt="{{ author.username }}" width="100px" height="100px">
<p>email: {{ author.email }}</p>
<p>Nombre de livres: {{ author.nb_books }}</p>
